# ========================
# Postgres properties
# ========================

API_ENTRYPOINT_DB_USER=
API_ENTRYPOINT_DB_PASSWORD=

# ========================
# Redis properties
# ========================

API_ENTRYPOINT_REDIS_PASSWORD=

# ========================
# Kafka properties
# ========================
