# ========================
# Postgres properties
# ========================

API_ENTRYPOINT_DB_USER=
API_ENTRYPOINT_DB_PASSWORD=

# ========================
# Redis properties
# ========================

REDIS_PASSWORD=

# ========================
# Doppler properties
# ========================

API_ENTRYPOINT_DOPPLER_ACCESS_KEY=

# ========================
# Kafka properties
# ========================